<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bus Reservation System - Book your bus tickets easily and securely.">
    <title>Bus Reservation System</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <div>
            <img src="{% static 'image/bus_logo.png' %}" alt="My Image">
        </div>
        <div>
            <h1>Bus Reservation System</h1>
        </div>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Bus Reservation System. All rights reserved.</p>
            <nav class="footer-links">
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
            </nav>
        </div>
    </footer>
</body>
</html>