<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mybooking.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'image/bus_logo.png' %}" alt="My Image">
        <p>Bus Reservation System</p>
        <nav>
            <a href="{% url 'dashboard' %}">Home</a>
            <a href="">My Booking</a>
            <a href="">Logout</a>
        </nav>
    </header>
    <main>
        <p>My Booking</p>
    {% if error_mssg %}
        <div class="error-message">{{ error_mssg }}</div>
    {% endif %}

    {% for data in bus %}
    {% if data.bus_status == 'Active' %}
        <div class="bus-container">
            <div class="first">
                <p class="bus-name">{{data.bus_name}}</p>
                <p class="bus-name">{{data.bus_number}}</p>
                <p class="bus-name">Booked</p>
            </div>
            <div class="mid">
                <p class="bus-details">{{data.source}} to {{data.destination}}</p>
                <p class="bus-details">{{data.departure_time}}</p>
                <p class="bus-details">{{data.time}}</p>
            </div>
            <div class="second">
                <p class="price">{{data.No_of_person}} Persons</p>
                <p class="price">₹ {{data.total_amount}}</p>
                <a class="cancel-button" href="/mybooking/delete/{{data.id}}">Cancel</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </main>

    <footer>
            <p>&copy; 2025 Bus Reservation System. All rights reserved.</p>
    </footer>
</body>
</html>